<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
  Check Response
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-dashboard.css?v=1.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <div class="logo">
        <a href="" class="simple-text logo-mini"></a>
        <div class="simple-text logo-normal">
          <%if(type==0){%>
            Admin
          <%}%>
          <%if(type==1){%>
            Client
            <%}%>
          <%if(type==2){%>
            Test Setter
          <%}%>
          <%if(type==3){%>
            Test Checker
          <%}%>
        </div>
      </div>
      <div class="sidebar-wrapper">
         <ul class="nav">
          <li>
            <a href="/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <%if(type==0){%>
          <li>
            <a href="/manage_client">
              <i class="now-ui-icons education_atom"></i>
              <p>
               Clients
              </p>
            </a>
          </li>
          <%}%>
          <%if(type==0 || type==1){%>
          <li>
            <a href="/manage_exam">
              <i class="now-ui-icons location_map-big"></i>
              <p>Exams</p>
            </a>
          </li>
           <li>
            <a href="/manage_users">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Test Setters</p>
            </a>
          </li>
           <li>
            <a href="/manage_checker">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Test Checkers</p>
            </a>
          </li>
          <%}%>
          <%if(type==0 || type==1 || type==2){%>
          <li>
            <a href="/manage_qa">
              <i class="now-ui-icons users_single-02"></i>
              <p>Question Papers</p>
            </a>
          </li>
          <%}%>
          <%if(type==0 || type==1){%>
          <li>
            <a href="/manage_students">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Students</p>
            </a>
          </li>
          <%}%>
          <%if(type==0 || type==1 || type==3){%>
          <li class="active">
            <a href="/manage_result">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Check Responses</p>
            </a>
          </li>
          <%}%>
          <%if(type==0 || type==1){%>
          <li>
            <a href="/final_result">
              <i class="now-ui-icons users_single-02"></i>
              <p>Final Results</p>
            </a>
          </li>
          <%}%>
          <li>
            <a href="/logout">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="panel-header panel-header-md">
        <h1 class="text-center text-white">Check Responses</h1>
      </div>
     <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Ques Id</th>
                      <th>Question</th>
                      <th>Answer</th>
                      <th>Correct Answer</th>
                      <th>Marks</th>
                      <th>Marks Given</th>
                      <th>Check</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Ques Id</th>
                      <th>Question</th>
                      <th>Answer</th>
                      <th>Correct Answer</th>
                      <th>Marks</th>
                      <th>Marks Given</th>
                      <th>Check</th>
                    </tr>
                  </tfoot>

                  <tbody>
                    <%if(ques.length){
                      for(var i = 0;i < ques.length;i++) {
                        if(ques[i].type==2){ %>
                          <tr>
                            <td data-label="id"><%=ques[i].ques_id%></td>
                            <td data-label="ques"><%=ques[i].ques%></td>
                            <td data-label="cor_ans"><%=ans[0][ques[i].ques_id]%></td>
                            <td data-label="ans"><%=ques[i].ans%></td>
                            <td data-label="pos"><%=ques[i].pos_marks%></td>
                            <td data-label="giv"><%-ans[0][`corr_${ques[i].ques_id}`]%></td>
                            <td>
                              <%if(ans[0][`corr_${ques[i].ques_id}`] || ans[0][`corr_${ques[i].ques_id}`] == 0){%>
                                <button type="button" id="moda_green" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg"></button>
                              <%}%>
                              <%if(!ans[0][`corr_${ques[i].ques_id}`] && ans[0][`corr_${ques[i].ques_id}`] != 0){%>
                                <button type="button" id="moda_blue" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg"></button>
                              <%}%>
                            </td>
                          </tr>
                        <% }
                      }
                    } %>
                  </tbody>
                </table>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->

          <form class="ui form" method="post" action="/manage_result/checked">
            <button class="btn btn-fill btn-primary">Checking Completed</button>
            <input type="hidden" name="reg_no" id="reg_no" value="<%-ans[0].reg_no%>">
            <input type="hidden" name="exam_id" value="<%=exam_idd%>">
          </form>


          <!--End Of Views Table -->

  <br><br><br>
  
  <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <form class="ui form" action="/manage_result/update" method="post">
              <div class="ui form" style="margin: 30px;">

          <!--Question -->  
                <div class="row">
                  <div class="col-md-12">
                    <label>Question</label>
                    <div class="form-group">
                      <textarea class="form-control" rows="3" name="question" id="question_s_u" style="color: black;"
                      readonly></textarea>
                    </div>
                  </div>
                </div>
          
          <!-- Answer -->
                <div class="row">
                  <div class="col-md-12">
                    <label>Answer</label>
                    <div class="form-group">
                      <textarea class="form-control" rows="3" id="answer_s_u" style="color: black;" readonly></textarea>
                    </div>
                  </div>
                </div>

          <!-- Correct Answer -->
                <div class="row">
                  <div class="col-md-12">
                    <label>Correct Answer</label>
                    <div class="form-group">
                      <textarea class="form-control" rows="3" name="answer" id="answer_s" style="color: black;" readonly></textarea>
                    </div>
                  </div>
                </div>

          <!-- Marks Alloted -->
                <div class="row">
                  <div class="col-md-3">
                    <label>Marks Alloted</label>
                    <div class="form-group">
                      <input class="form-control" type="text" id="Spos_marks_u" style="color: black;" readonly>
                    </div>
                  </div>
                </div>

          <!-- Positive Marks -->
                <div class="row">
                  <div class="col-md-3">
                    <label>Marks</label>
                    <div class="form-group">
                      <input class="form-control" name="marks" style="border-block-width: 3px; border-color: grey; color: black;"" type="text" id="Spos_marks" required>
                    </div>
                  </div>
                </div>

          <!-- Submit Button -->
                <div class="text-center">
                  <button class="btn btn-fill btn-primary" onclick="return add();">Submit</button>
                  <input type="hidden" name="ques_id" id="ques_id_s">
                  <input type="hidden" name="reg_no" id="reg_no" value="<%-ans[0].reg_no%>">
                  <input type="hidden" name="exam_id" value="<%=exam_idd%>">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

  
        </div>
        <!-- end row -->
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed and Coded by
            <a href="javascript:void(0)" target="_blank">Group 10</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.min.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/now-ui-dashboard.min.js?v=1.1.2" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
   <script src="../../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../../assets/js/plugins/sweetalert2.min.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../../assets/js/plugins/jquery.validate.min.js"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../../assets/js/plugins/bootstrap-datetimepicker.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="../../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--  Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../../assets/js/plugins/nouislider.min.js"></script>
  <!-- Chart JS -->
  <script src="../../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../assets/js/now-ui-dashboard.min.js?v=1.1.2" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../../assets/demo/demo.js"></script>
   <script src="../../assets/js/plugins/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

      demo.initVectorMap();

    });
  </script>
   <script>
    $(document).ready(function() {
      // initialise Datetimepicker and Sliders
      demo.initDateTimePicker();
      if ($('.slider').length != 0) {
        demo.initSliders();
      }
    });
  </script>

<script>
  function add() {
     var marks = Number($("#Spos_marks").val());
     var pmarks= Number($("#Spos_marks_u").val());

     if(marks > pmarks)
     {
       window.alert("You are exceeding the Alloted Marks");
       return false;
     }
     else {
     return true;
     }
  }
</script>

  <script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });

// moda-green btn

      $(document).on('click','#moda_green',function() {
        console.log("hello")
        var $row = $(this).closest("tr"),        // Finds the closest row <tr>

       $tds = $row.find("td:nth-child(1)");
       $.each($tds, function() {
       var id=$(this).text();
       console.log(id);
       x=parseInt(id);
       console.log(x);
       document.getElementById("ques_id_s").value = id ;

       // document.getElementById("answer_s").value = "<%=ans[id]%>";
      });

        $tds = $row.find("td:nth-child(2)");
        $.each($tds, function() {
        var ques=$(this).text();
        document.getElementById("question_s_u").value = ques ;
       });

        $tds = $row.find("td:nth-child(3)");
        $.each($tds, function() {
        var answer=$(this).text();
        document.getElementById("answer_s_u").value = answer ;
       });

       $tds = $row.find("td:nth-child(4)");
       $.each($tds, function() {
       var answer=$(this).text();
       document.getElementById("answer_s").value = answer ;
      });

        $tds = $row.find("td:nth-child(5)");
        $.each($tds, function() {
        var psmarks=$(this).text();
        document.getElementById("Spos_marks_u").value = psmarks ;

        almarks= psmarks;
       });

       $tds = $row.find("td:nth-child(6)");
       $.each($tds, function() {
       var psmarks=$(this).text();
       document.getElementById("Spos_marks").value = psmarks ;
      });

     });


//  moda-blue btn

     $(document).on('click','#moda_blue', function() {
        console.log("hello")
        var $row = $(this).closest("tr"),        // Finds the closest row <tr>

       $tds = $row.find("td:nth-child(1)");
       $.each($tds, function() {
       var id=$(this).text();
       console.log(id);
       x=parseInt(id);
       console.log(x);
       document.getElementById("ques_id_s").value = id ;

       // document.getElementById("answer_s").value = "<%=ans[id]%>";
      });

        $tds = $row.find("td:nth-child(2)");
        $.each($tds, function() {
        var ques=$(this).text();
        document.getElementById("question_s_u").value = ques ;
       });

        $tds = $row.find("td:nth-child(3)");
        $.each($tds, function() {
        var answer=$(this).text();
        document.getElementById("answer_s_u").value = answer ;
       });

       $tds = $row.find("td:nth-child(4)");
       $.each($tds, function() {
       var answer=$(this).text();
       document.getElementById("answer_s").value = answer ;
      });

        $tds = $row.find("td:nth-child(5)");
        $.each($tds, function() {
        var psmarks=$(this).text();
        document.getElementById("Spos_marks_u").value = psmarks ;

        almarks= psmarks;
       });

       $tds = $row.find("td:nth-child(6)");
       $.each($tds, function() {
       var psmarks=$(this).text();
       document.getElementById("Spos_marks").value = psmarks ;
      });

     });
  });
  </script>
</body>

</html>